@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');
*{
    font-family: 'Golos Text', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}
h1{
    text-shadow: 0 0 5rem rgba(0, 0, 0, 0.8);
}
.neon{
    box-shadow: 0 0 3.5rem -6px #ffbf005d,
    inset 0 0 1rem -6px #f8cd4a6c;
}
.neon-texto{
    text-shadow: 0 0 1.5rem #ffbf005d;
}